.App {
    text-align: center;
    width: 900px;
    height: 800px;
    margin: 10px auto;
    border: 1px solid #afafaf;
    padding: 20px 10px;
}

label,
button {
    float: left;
}
input {
    padding: 12px 20px;
    margin: 10px 0;
}
